{% extends 'base.html' %}
{% block page_content %}
    <style>
        #btn-group {
            text-align: center;
            width: 350px;
            height: 350px;
            position: absolute;
            left: 42%;
            top: 45%;
            transform: translate(-50%, -50%);
        }

        #nd-btn:focus {
            border-color: #0c60ee;
            outline: #0c60ee;
        }

        #upload-btn:focus {
            border-color: #4cd964;
            outline: #4cd964;
        }

        #logout-btn:focus {
            border-color: #ff3b30;
            outline: #ff3b30;
        }

        .buttons {
            display: block;
            font-size: 17px;
            margin: 35px;
        }

        .icons {
            float: left;
            font-size: 25px;
        }
    </style>
    <div class="container">
        <div id="btn-group">
            <button id="nd-btn" class="btn btn-primary buttons col-xs-12" onclick="net_drive()"><span
                    class="glyphicon glyphicon-hdd icons"></span>Net Drive
            </button>
            <button id="upload-btn" class="btn btn-success buttons col-xs-12" onclick="upload()"><span
                    class="glyphicon glyphicon-open icons"></span>Upload
            </button>
            <button id="logout-btn" class="btn btn-danger buttons col-xs-12" onclick="logout()"><span
                    class="glyphicon glyphicon-off icons"></span>Logout
            </button>
        </div>
    </div>
    <script>
        function net_drive() {
            window.location.href = "{{ url_for('net_drive_main') }}"
        }

        function upload() {
            window.open("{{ url_for('upload') }}")
        }

        function logout() {
            window.location.href = "{{ url_for('logout') }}"
        }
    </script>
{% endblock %}