<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        #playground {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<!--<iframe id="document" src="../static/test_document/Doc1.pdf"></iframe>-->
<iframe id="playground" src="../static/cache/{{ file_name }}"></iframe>
</body>
</html>