{% extends 'base.html' %}
{% block page_content %}
    <style>
        #submit-btn:focus {
            border-color: #4cd964;
            outline: #4cd964;
        }

        #reset-btn:focus {
            border-color: #ffc900;
            outline: #ffc900;
        }

        #choose-file {
            text-align: center;
            width: 350px;
            height: 350px;
            margin: 0 auto;
            position: absolute;
            left: 47%;
            top: 30%;
            transform: translate(-50%, -50%);
        }

        .button-group {
            margin: 20px;
            width: 200px;
        }

    </style>
    <form id="choose-file" action="{{ url_for('get_upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" style="margin: 100px" id="input-file" onmouseleave="check()">
        <button class="btn btn-success  button-group" type="submit" name="submit" id="submit-btn"
                onmouseenter="check()"><b>Submit</b></button>
        <button class="btn btn-warning button-group" type="reset" name="reset" id="reset-btn"><b>Reset</b></button>
    </form>
    <script>
        function check() {
            {#alert('mouse on it');#}
            if (document.getElementById('input-file').value != '') {
                {#alert('null');#}
                document.getElementById('submit-btn').disabled = false;
            } else {
                document.getElementById('submit-btn').disabled = true;
            }
        }
    </script>
{% endblock %}
